@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-border {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.fancy-border-2 {
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.height-custom-92vh {
  min-height: 92vh;
}

.contact-background {
  background-image: url("https://svgur.com/i/ZXH.svg");
}

.zoomOne {
  width: 100%;
  transition: 0.5s all ease-in-out;
  display: inline-block;
}

.zoomOne:hover {
  transform: translateY(-30px);
}

.zoomTwo {
  overflow: hidden;
}

.zoomTwo img {
  /* width: 100%; */
  width: 600px;
  transition: 0.5s all ease-in-out;
}

.zoomTwo:hover img {
  transform: scale(1.2);
}

/* ============= Animation background ========= */
.custom-background {
  /* background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%); */
  background: #0a0c11;
}

.cont .alternate-background:nth-child(odd) {
  background: white;
}

.cont .alternate-background:nth-child(even) {
  background: #f3f4f6;
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover {
  transform: scale(1.5);
}

.background {
  /* background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
     */

  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /* background: linear-gradient(132deg, #aa041a, #591bc5, #212335); */
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  min-height: 92vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
  z-index: 0;
}

.back-grad {
  background: linear-gradient(
    180deg,
    rgba(248, 242, 255, 1) 0%,
    rgba(250, 247, 252, 1) 20%,
    rgba(251, 251, 252, 1) 100%
  );
}

.dotted-background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1169%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(249%2c 250%2c 251%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c633.044C115.378%2c611.21%2c176.786%2c489.335%2c263.808%2c410.493C334.96%2c346.029%2c423.419%2c298.908%2c464.555%2c212.155C505.985%2c124.781%2c494.187%2c25.936%2c491.994%2c-70.738C489.505%2c-180.46%2c509.62%2c-297.982%2c450.878%2c-390.688C389.304%2c-487.864%2c283.943%2c-563.153%2c169.989%2c-578.929C59.933%2c-594.166%2c-32.66%2c-505.535%2c-138.682%2c-472.309C-242.159%2c-439.881%2c-374.015%2c-467.568%2c-445.513%2c-386.039C-517.007%2c-304.515%2c-478.225%2c-178.271%2c-490.973%2c-70.591C-503.335%2c33.824%2c-545.666%2c135.371%2c-519.292%2c237.153C-490.269%2c349.159%2c-428.874%2c454.014%2c-336.859%2c524.163C-241.074%2c597.187%2c-118.346%2c655.44%2c0%2c633.044' fill='%23dbe1e7'%3e%3c/path%3e%3cpath d='M1440 1070.951C1535.414 1056.41 1623.981 1024.645 1707.29 975.9110000000001 1793.738 925.341 1873.715 866.5 1930.5149999999999 784.011 1995.3609999999999 689.837 2069.237 585.035 2054.515 471.646 2039.766 358.048 1919.596 295.045 1854.767 200.603 1779.275 90.62799999999999 1771.083-94.21699999999998 1642.277-128.89200000000005 1512.642-163.78999999999996 1407.458-16.158999999999992 1289.815 48.51799999999997 1199.686 98.06900000000002 1099.47 128.836 1032.1109999999999 206.562 964.749 284.291 932.0989999999999 383.196 912.304 484.129 891.661 589.384 880.627 698.06 915.848 799.3720000000001 953.0260000000001 906.313 1014.14 1014.142 1114.667 1066.228 1212.955 1117.154 1330.566 1087.629 1440 1070.951' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1169'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  z-index: 1;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

/* @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
